
.titleContainer{
    text-align: center;
    align-content: center;
    margin-top: 7%;
    margin-bottom: -30px;
  }

  h1 {
    font-family: Open Sans, Light;
  }
  
  .card {
    display: block;
      padding: 2% 2% 2% 2%;
      margin-left: 5%;
      margin-bottom: 50px;
      box-shadow: 8px 4px 30px 15px;
      transition: .25s;
    }

    .shortCutBox{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 100px;
      }
  
    .classContainer{
      margin-top: 10%;
    }
    
    .class-image2 {
      height: 250px;
      width: 100%;
      padding: 15px;
      background-size:cover;
      color:#fff;
    }

 
  
  
  
  
  