.menuHamburger {
    position: relative;
    left:0.5%;
    color: red;
}

.logo{
    position:absolute;
    top: 0;
    left: 70px;
}

.login-icon{
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-left: 20px;
}

.menu_content {
    font-family: Open Sans, Light;
    font-size: 22px;
}

.home {
    color: #5E94B0;
}

.questionnaire {
    color: #5E94B0;
}

.my_classes {
    color: #5E94B0;
}

.tutorial {
    color: #5E94B0;
}

.contact_us {
    color: #5E94B0;
}

.link {
    color: #000;
  }
  .link:hover {
     color: #5E94B0;
  }