
.titleContainer{

    text-align: center;
    align-content: center;
    margin-top: 7%;
    margin-bottom: -30px;
  }

  h1 {
    font-family: Open Sans, Light;
  }
  
  .card {
      display: block;
      padding: 1% 2% 50px 2%;
      margin-left: 5%;
      margin-bottom: 50px;
      box-shadow: 10px 5px 40px 20px;
      transition: .25s;
    }
  
    .classContainer{
      margin-top: 10%;
    }
    
    .class-image {
      height: 250px;
      width: 100%;
      padding: 15px;
      width:100%;
      background-size:cover;
      color:#fff;
    }
/*     
    .class-name {
      padding: 15px;
      background-color:#fff;
      width:100%;
    } */
  
    .moreButton{
        text-align: center;
        align-content: center;
        margin-top: 50px;
        margin-bottom: 70px;
        padding-top: 20px;
        padding-bottom: 50px;
      }
  
  
  
  
  