.modal-header {
    background-color: #5e94b0;
    padding: 0;
    color: white;
    text-align: center;
}

.modal-body {
    background-color: #e4eff5;
}

.quest_name {
    text-align: center;
}

.name_field {
    position:relative;
    left: 16%;
    width: 400px;
}

.dropdown {
    position: relative;
    left: 11%;
    width: 400px;
}

.new_category {
    position: relative;
    left: 3%;
    width: 400px;
}
