.btn.btn-primary_blue {
    background-color: #5E94B0;
    color: #FFF;
}

.btn.btn-primary_red {
    background-color: #C56359;
    color: #FFF;
}

.btn.btn-secondary_yellow {
    background-color: #FDCD61;
    color: #FFF;
}

.btn.btn-secondary_green {
    background-color: #3F694D;
    color: #FFF;
}

.btn.btn-gray {
    background-color: #b9b9b9;
    color: #FFF;
}

